.infoLine {
	display: flex;
	justify-content: space-between;
	:global {
		.ant-typography {
			flex: 2;
		}
		.ant-checkbox-wrapper {
			flex: 1;
		}
		.switch-wrapper {
			.ant-switch {
				margin-right: 5px;
			}
			label {
				cursor: pointer;
			}
		}
	}
}
