.coverImgInput {
	margin-bottom: 30px;
	:global {
		.imgUploader {
			width: 100%;
			height: 250px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			overflow: hidden;
			cursor: pointer;
			border: 2px dashed #1c1c1c;
		}
		input {
			display: none;
		}
		.imageViewer {
			box-shadow: 0 0 10px 1px rgb(227, 227, 227);
			border-radius: 10px;
			overflow: hidden;
		}
		.coverImg {
			width: 100%;
			height: 250px;
			object-fit: cover;
			object-position: top;
		}

		.deleteBtn {
			margin: 25px 0;
			border: none;
			color: #a80000;
		}
	}
}
